@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  background: #e0e8ff;
}
body {
  background-color: hsl(225, 100%, 94%);
  background: url(/images/pattern-background-desktop.svg);
  background-size: 100%;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 416px;
  background-color: #fff;
  border-radius: 1rem;
}
.container .image img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.container-price {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(225, 100%, 98%);
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 1rem;
}
section {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}
section h1 {
  color: hsl(223, 47%, 23%);
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: 900;
}
section span {
  text-align: center;
  color: hsl(224, 23%, 55%);
  font-weight: 500;
}
.text-price {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  margin-right: 60px;
  justify-content: center;
  flex-direction: column;
}

.container-price div a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  transition: all 0.3s;
}
.container-price div a:hover {
  text-decoration: none;
  opacity: 80%;
  font-weight: 900;
}
#top {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}
#bottom {
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons #fButton {
  cursor: pointer;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 100px 12px 100px;
  border-radius: 0.5rem;
  border: 0px;
  color: hsl(225, 100%, 98%);
  background-color: hsl(245, 75%, 52%);
  box-shadow: 1px 20px 40px rgb(196, 196, 196);
  margin-bottom: 50px;
  transition: all 0.3s;
}
.buttons #fButton:hover {
  opacity: 80%;
}
.buttons #sButton {
  font-family: "Red Hat Display", sans-serif;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  color: hsl(224, 23%, 55%);
  transition: all 0.3s;
}
.buttons #sButton:hover {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}
